M.Talha Ramzan
---
2330-0141
---
BS(AI)
---
Assigment no 01
----

Question 4: [Marks 10]
Write a Python program that:
1. Prints your name, roll number, degree name, and the phrase "Smile its Sunnah" at the start.
Condition: You cannot use any string literal in print() that contains white spaces (so no "Smile its
Sunnah" directly).
2. Prints the following smiley pattern using string formatting/alignment techniques (str.center(),
format(), or f-strings). Condition: You are not allowed to simply hardcode all spaces.

For example:
Hy. I am Mr./Miss (Name)
My roll number is (Your roll
number like: 221-1234)
My Degree is (Your Degree
Like: BS(AI), BS(CS)..)
Smile its Sunnah:

In [9]:
space = " "
name = "Talha"
roll_no = "2330-0141"
degree = "BS(AI)"

print("Hy." + space + "I" + space + "am" + space + "M." + space + name)
print("My" + space + "roll" + space + "number" + space + "is" + space + roll_no)
print("My" + space + "Degree" + space + "is" + space + degree)
print("Smile" + space + "its" + space + "Sunnah:")

Hy. I am M. Talha
My roll number is 2330-0141
My Degree is BS(AI)
Smile its Sunnah:

In [10]:
width = 20
print("-" .center(width, "-"))
print("|" .center(width, " "))
print("|  o   o  |".center(width))
print("|    ^    |".center(width))
print("|  \\___/  |".center(width))
print("|" .center(width, " "))
print("-" .center(width, "-"))

--------------------
         |
    |  o   o  |
    |    ^    |
    |  \___/  |
         |
--------------------

Question 5: [Marks 25]
You are asked to build a mini student management system using Python data structures. Store the
following information about students using a list of dictionaries. Each dictionary should contain:
 "roll_no" (int)
 "name" (string)
 "courses" (a tuple of enrolled course names, e.g., ("AI", "DS", "CV"))
 "marks" (a dictionary where keys are course names and values are integers representing marks).
Example structure (you must extend it for at least 5 students):
students = [
{
"roll_no": 101,
"name": "Ali",
"courses": ("AI", "ML", "CV"),
"marks": {"AI": 85, "ML": 90, "CV": 78}
},
...
]
1. Write Python code to perform the following tasks:
a) Print the name and roll number of the student with the highest total marks across all courses.
b) For each course (AI, ML, CV, etc.), compute the highest scorer and display their name, roll
number, and marks.
c) Update marks of one student by adding 5 bonus points in all courses where they scored less
than 80.
d) Display a list of all unique courses offered across all students (must be built from the tuples).
e) Find the student(s) who are enrolled in exactly the same tuple of courses (check for equality of
tuples).
f) Remove a student by roll number, and ensure that your updated list reflects this change.
You must write the program without using external libraries (only built-in Python).

In [11]:
students = [
    {
        "roll_no": 101,
        "name": "Ali",
        "courses": ("AI", "ML", "CV"),
        "marks": {"AI": 85, "ML": 90, "CV": 78}
    },
    {
        "roll_no": 102,
        "name": "Ayesha",
        "courses": ("DS", "AI", "CV"),
        "marks": {"DS": 88, "AI": 92, "CV": 80}
    },
    {
        "roll_no": 103,
        "name": "Talha",
        "courses": ("AI", "ML", "NLP"),
        "marks": {"AI": 75, "ML": 60, "NLP": 70}
    },
    {
        "roll_no": 104,
        "name": "Hassan",
        "courses": ("DS", "CV", "NLP"),
        "marks": {"DS": 95, "CV": 82, "NLP": 91}
    },
    {
        "roll_no": 105,
        "name": "Sara",
        "courses": ("AI", "ML", "CV"),
        "marks": {"AI": 90, "ML": 85, "CV": 95}
    }
]

print("Students data created successfully!")

Students data created successfully!

In [12]:
highest_total = 0
top_student = None

for student in students:
    total = sum(student["marks"].values())
    if total > highest_total:
        highest_total = total
        top_student = student

print("a) Student with highest total marks:")
print("Name:", top_student["name"])
print("Roll No:", top_student["roll_no"])
print("Total Marks:", highest_total)

a) Student with highest total marks:
Name: Sara
Roll No: 105
Total Marks: 270

In [13]:
all_courses = set()
for student in students:
    all_courses.update(student["courses"])

print("b) Highest scorer for each course:")
for course in all_courses:
    max_marks = -1
    top_scorer = None
    for student in students:
        if course in student["marks"]:
            if student["marks"][course] > max_marks:
                max_marks = student["marks"][course]
                top_scorer = student
    if top_scorer:
        print(f"Course: {course}, Name: {top_scorer['name']}, Roll No: {top_scorer['roll_no']}, Marks: {max_marks}")

b) Highest scorer for each course:
Course: DS, Name: Hassan, Roll No: 104, Marks: 95
Course: CV, Name: Sara, Roll No: 105, Marks: 95
Course: NLP, Name: Hassan, Roll No: 104, Marks: 91
Course: ML, Name: Ali, Roll No: 101, Marks: 90
Course: AI, Name: Ayesha, Roll No: 102, Marks: 92

In [18]:
print("c) Updating marks (adding 5 bonus points for marks < 80):")
for student in students:
    for course, mark in student["marks"].items():
        if mark < 80:
            student["marks"][course] += 5
    print(f"{student['name']} updated marks: {student['marks']}")

c) Updating marks (adding 5 bonus points for marks < 80):
Ali updated marks: {'AI': 85, 'ML': 90, 'CV': 83}
Ayesha updated marks: {'DS': 88, 'AI': 92, 'CV': 80}
Talha updated marks: {'AI': 80, 'ML': 70, 'NLP': 80}
Hassan updated marks: {'DS': 95, 'CV': 82, 'NLP': 91}
Sara updated marks: {'AI': 90, 'ML': 85, 'CV': 95}

In [19]:
unique_courses = set()
for student in students:
    unique_courses.update(student["courses"])
print("d) All unique courses offered:", unique_courses)

d) All unique courses offered: {'DS', 'CV', 'NLP', 'ML', 'AI'}

In [20]:
print("e) Students with exactly same courses tuple:")
checked = set()
for i in range(len(students)):
    for j in range(i + 1, len(students)):
        if students[i]["courses"] == students[j]["courses"]:
            pair = (students[i]["name"], students[j]["name"])
            if pair not in checked:
                print(f"{students[i]['name']} and {students[j]['name']} have same courses: {students[i]['courses']}")
                checked.add(pair)

e) Students with exactly same courses tuple:
Ali and Sara have same courses: ('AI', 'ML', 'CV')

In [21]:
roll_to_remove = int(input("f) Enter roll number of student to remove: "))
found = False
for i in range(len(students)):
    if students[i]["roll_no"] == roll_to_remove:
        print("Removing student:", students[i]["name"])
        del students[i]
        found = True
        break
if not found:
    print("Student with this roll number not found!")

print("Updated list of students:")
for student in students:
    print(f"Roll No: {student['roll_no']}, Name: {student['name']}")

f) Enter roll number of student to remove: 34
Student with this roll number not found!
Updated list of students:
Roll No: 101, Name: Ali
Roll No: 102, Name: Ayesha
Roll No: 103, Name: Talha
Roll No: 104, Name: Hassan
Roll No: 105, Name: Sara