# **Programming for Artificial Intelligence**
# Lab 02

### Topics:
* Input()
* Type Casting
* Solve mathematical Expression
* Strings
* String Functions
* 1D Lists
* List Functions
* 2D Lists
* Tuple
* Dictionary
* Exercises

In this lab, you'll learn about essential concepts like type casting, Expression, strings,lists, tuple, and dictionary in Python. These fundamental concepts form the building blocks of programming and are crucial to understanding more complex topics.

**What is input()?**

* input() is a built-in function in Python used to take input from the user.

* It always returns a string, even if the user types a number.

* If you want numeric input, you must convert it (e.g., int(), float()).

In [ ]:
name = input("Enter your name: ")
print("Hello,", name)

In [ ]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")

# Convert strings to integers
sum_result = int(num1) + int(num2)

print("Sum =", sum_result)

In [ ]:
price = float(input("Enter product price: "))
quantity = int(input("Enter quantity: "))  #int() can only convert strings that look like whole numbers ("5", "100") into integers.
total = price * quantity
print("Total cost =", total)

**Multiple Inputs**

You can take multiple inputs in one line using .split()

In [ ]:
a, b, c = input("Enter three numbers separated by space: ").split()
print("You entered:", a, b, c)

**What is Type Casting in Python?**

Type casting (or type conversion) is the process of changing one data type into another.

For example:

  * Converting a string "10" into an integer 10.

  * Converting a float 12.5 into an integer 12.

Python has built-in functions for type casting:

  * int() → converts to integer

  * float() → converts to float

  * str() → converts to string

**String → Integer**

In [ ]:
num_str = "50"      # string
num_int = int(num_str)
print(num_int, type(num_int))

**String → Float**

In [ ]:
price_str = "12.75"
price_float = float(price_str)
print(price_float, type(price_float))

**Float → Integer**

In [ ]:
num_float = 45.9
num_int = int(num_float)
print(num_int, type(num_int))

**Integer → String**

In [ ]:
age = 20
age_str = str(age)
print(age_str, type(age_str))

**Upcasting and Downcasting in Type Casting**

* Upcasting → Converting a smaller data type into a larger/more general one (safe conversion).

* Downcasting → Converting a larger/more precise data type into a smaller/less precise one (may lose information).

In [ ]:
# Upcasting (int → float)
a = 10      # integer
b = float(a)
print(b, type(b))

# Downcasting (float → int)
x = 15.75
y = int(x)
print(y, type(y))

**Mathematical Expression**

In [ ]:
5 + 3 * 2 ** 2 // 4 % 3

# **String**
* Different ways to define strings

* String operations (concatenation, repetition, membership)

* Slicing

* Important string methods/functions

In [ ]:
# 1. Different ways to define strings
s1 = 'Hello'                # single quotes
s2 = "Hello"                # double quotes
s3 = '''Hello
World'''                   # triple single quotes (multi-line)
s4 = """Hello
World"""                   # triple double quotes (multi-line)

print(s1, s2, s3, s4)

In [ ]:
s2 = "It's raining"
print(s2)

In [ ]:
s3 = 'She said "Hello!"'
print(s3)

In [ ]:
s4 = '''This is
a multi-line
string.'''
print(s4)

In [ ]:
s5 = '''It's "Pythonic"!'''
print(s5)   # It's "Pythonic"!

**String Operations**

In [ ]:
a = "Python"
b = "Rocks"

# Concatenation (+)
print("Concatenation:", a + " " + b)

# Repetition (*)
print("Repetition:", a * 3)

# Membership (in / not in)
print("Membership:", "Py" in a)
print("Not in:", "Java" not in a)

**String Slicing**

In [ ]:
text = "PYTHON"

# Positive Indexing
print("First char:", text[0])
print("Last char:", text[5])
print("Slice [1:4]:", text[1:4])

# Negative Indexing
print("Last char:", text[-1])
print("Slice [-4:-1]:", text[-4:-1])

# With Step
print("Step 2:", text[0:6:2])
print("Reverse:", text[::-1])
print("Every 2nd char from end:", text[::-2])

In [ ]:
s = "   Python Programming  "

# Case Conversion
print(s.upper())
print(s.lower())
print(s.title())
print(s.capitalize())

In [ ]:
# Whitespace Handling
print(s.strip())
print(s.lstrip())
print(s.rstrip())

In [ ]:
# Searching
print(s.find("thon"))  # 4
print(s.rfind("o"))    # last occurrence index
print(s.startswith("Py"))
print(s.strip().startswith("Py"))

In [ ]:
# Replacing & Splitting
print(s.replace("Python", "Java"))
print(s.split())
print("-".join(["2025","09","30"]))

In [ ]:
# Checking
print("123".isdigit())
print("abc".isalpha())
print("abc123".isalnum())
print("hello".islower())
print("HELLO".isupper())
print("   ".isspace())

# Length
print(len(s))

**Strings are Immutable in Python**

In [ ]:
s = "Python"
s[0] = "J"   # trying to change first character

In [ ]:
s = "Python"
new_s = "J" + s[1:]   # replace 'P' with 'J'
print("Original:", s)
print("Modified:", new_s)

In [ ]:
s = "Hello"
print("Original id:", id(s))

s = s + " World"   # creates a new string
print("New id:", id(s))

## Lists
A list is a collection of values enclosed in square brackets []. It can hold elements of different types.

### List Characteristics:

* Lists are ordered collections.
* Lists are mutable (can be changed after creation).
* Lists can contain duplicate elements.

In [ ]:
my_list = [1, 2, 3, 'apple', 'mango'] # creating a list

print(my_list) #print a list
print(my_list[3]) # print values from index 3
print(my_list[2:5]) # print values from index 2 to 5 (5 exclusive)

**List Operations**

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

# Concatenation (+)
print("Concatenation:", a + b)

# Repetition (*)
print("Repetition:", a * 2)

# Membership (in / not in)
print("Membership:", 2 in a)
print("Not in:", 10 not in a)

**List Slicing**

In [ ]:
nums = [10, 20, 30, 40, 50, 60]

# Positive Indexing
print(nums[0])
print(nums[2:5])
print(nums[:3])
print(nums[3:])

In [ ]:

# Negative Indexing
print(nums[-1])
print(nums[-3:-1])

In [ ]:
# With Step
print(nums[::2])
print(nums[1:5:2])
print(nums[::-1])
print(nums[-1:-6:-2])

## Negative Indexing of a string/list starts from -1, -2 ....

In [ ]:
str = "abcde"
print(str[-1])
print(str[-2])

list = [1,2,3,4,5]
print(list[-1])

Further operations on lists are here:

* append()   : Used for appending and adding elements to the end of the List.

* copy()     : It returns a copy of a list.        

* clear()    : This method is used for removing all items from the list.   

* count()    : These methods count the elements.                            

* extend()   : Adds each element of the iterable to the end of the List.     

* index()    : Returns the lowest index where the element appears.           

* insert()   : Inserts a given element at a given index in a list.          

* pop()      : Removes and returns the last value from the List or the given index value.

* remove()   : Removes a given object from the List.                        

* reverse()  : Reverses objects of the List in place.                       

* sort()     : Sort a List in ascending, descending, or user-defined order.

* min()      : Calculates the minimum of all the elements of the List.      

* max()      : Calculates the maximum of all the elements of the List.

In [ ]:
fruits = ["apple", "dates", "cherry"]

# Adding elements
fruits.append("mango")       # add at end
print("Append:", fruits)

fruits.insert(1, "orange")   # add at specific index
print("Insert:", fruits)

fruits.extend(["grape", "melon"])  # extend list
print("Extend:", fruits)

# Removing elements
fruits.remove("dates")   # removes first occurrence
print("Remove:", fruits)

last = fruits.pop()       # removes last element
print("Pop:", fruits, "Popped:", last)

del fruits[0]             # delete by index
print("Del:", fruits)

fruits.clear()            # remove all elements
print("Clear:", fruits)

In [ ]:
nums = [10, 20, 30, 40, 10]

# Searching
print("Index of 30:", nums.index(30))
print("Count of 10:", nums.count(10))

# Sorting
nums.sort()
print("Sort:", nums)

nums.sort(reverse=True)
print("Reverse Sort:", nums)

# Copying
nums_copy = nums.copy()
print("Copy:", nums_copy)

# Other built-ins
print("Length:", len(nums))
print("Max:", max(nums))
print("Min:", min(nums))
print("Sum:", sum(nums))

# **2d list**

A 2D list is simply a list where each element itself is a list.

In [ ]:
# Creating a 2D list (3x3 matrix)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Matrix:")
for row in matrix:
    print(row)

# **Accessing Elements in a 2D List**

In [ ]:
print(matrix[0][0])
print(matrix[1][2])
print(matrix[2][1])

# **Updating Elements**

In [ ]:
matrix[0][1] = 20
print(matrix)

In [ ]:
# 3D Lists
data2 = [[[1,2,3],[4,5,6]],
         [[7,8,9],[10,11,12]]]
print(data2)

# **Tuples**

**Tuple Creation**

In [ ]:
tuple1 = ("ali", "ali", "ahmad", "amna")
print(tuple1)

In [ ]:
# Empty tuple
t1 = ()

# Single element tuple
t2 = (5,)

# Multiple elements
t3 = (1, 2, 3, 4, 5)

print(t1, t2, t3)

# **Operations on Tuples**

**Concatenation**

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = t1 + t2
print("Concatenation:", result)

**Repetition**

In [ ]:
t = (7, 8)
print("Repetition:", t * 3)

**Membership**

In [ ]:
t = (1, 2, 3, 4, 5)
print(3 in t)
print(10 not in t)

# **Tuple Slicing**

**Positive Indexing**

In [ ]:
t = (10, 20, 30, 40, 50, 60)

print(t[0:3])
print(t[2:5])

**Negative Indexing**

In [ ]:
print(t[-3:])
print(t[:-2])

**Step Size**

In [ ]:
t = (10, 20, 30, 40, 50, 60)
print(t[::2])
print(t[1::2])
print(t[::-1])
print(t[-2:-6:-2])

# **Tuple Functions**

In [ ]:
t = (4, 2, 8, 2, 5, 2)

# Length of tuple
print(len(t))

# Count occurrences
print(t.count(2))

# First index of a value
print(t.index(8))

# Maximum and Minimum
print(max(t))
print(min(t))

# Sum of elements (only works if all are numbers)
print(sum(t))

# Sorting (returns a list)
print(sorted(t))

# **Nested Tuples**

In [ ]:
nested = ((1, 2), (3, 4), (5, 6))
print(nested[1])
print(nested[1][0])

In [ ]:
t = (1, 2, 3)
# t[0] = 99

In [ ]:
# But if tuple contains a mutable object (like a list), that list can change:
t = (1, [2, 3], 4)
t[1][0] = 99
print(t)

# **Dictionary**

Key-value pairs {key:value}

In [ ]:
# dictionary
student = {
    "name":"Ali",
    "age":13,
    "grade": "A"
}

print(student)
print(student["grade"])

# **Operations on Dictionaries**

we can merge dictionaries using update() or |

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

# Using update
d1.update(d2)
print("Merged with update:", d1)

In [ ]:
# Using |
d3 = {"x": 10} | {"y": 20}
print("Merged with | :", d3)

**Membership**

* Membership works only on keys, not values.

In [ ]:
d = {"name": "Ali", "age": 30, "city": "Islamabad"}

print("name" in d)
print("Ali" in d)
print("country" not in d)

# **Important Dictionary Functions**

In [ ]:
d = {"a": 10, "b": 20, "c": 30}

# Length
print(len(d))

# Access values
print(d["a"])
print(d.get("b"))
print(d.get("x", "Not Found"))  # Safe access

# Add / Update key
d["d"] = 40
d["a"] = 99
print(d)

# Delete key
d.pop("b")
print(d)

# Delete last inserted item
d.popitem()
print(d)

# Keys, Values, Items
print(d.keys())
print(d.values())
print(d.items())

# Clear dictionary
d.clear()
print(d)  # {}

In [ ]:
# nested dictionary
cars = {
    "brand":{"side":"Toyota", "main":"Tesla"},
    "model_no": 546,
    "year_of_purchase":"2025"
}
print(cars)
print(cars["brand"])
print(cars["brand"]["main"])