M.Talha Ramzan

---

2330-0141
---
BS AI
---
AI Lab 02

In [ ]:
color =("balck", "blue", "white")
print(color)
print(type(color))

('balck', 'blue', 'white')
<class 'tuple'>

In [ ]:
if "yellow" in color:
  print("yellow color is in tuple")
else:
 print("yellow color is not in tuple")

yellow color is not in tuple

In [ ]:
color_list =list(color)
color_list[0]="pink"
color_list.append ("perple")
color = tuple(color_list)
print(color)

('pink', 'blue', 'white', 'perple')

In [ ]:
(color1,color2,color3,color4)= color
print("color4 =",color4)
(color1, *colors) = color
print("color1 ",color1)
print("colors ",color)
(color1, *colors, color4) = color
print(color1)
print(colors)

color4 = perple
color1  pink
colors  ('pink', 'blue', 'white', 'perple')
pink
['blue', 'white']

In [ ]:
for i in range(len(color)):
    print(color[i])

pink
blue
white
perple

In [ ]:
for value in color:
  print(value)

pink
blue
white
perple

In [ ]:
i = 0
while i in range(len(color)):
  print(color[i])
  i = i+1

pink
blue
white
perple

In [ ]:
color_new = ("purple","orange")
color_join = color + color_new
print(color_join)

('pink', 'blue', 'white', 'perple', 'purple', 'orange')

In [ ]:
color_multiply = color * 2
print(color_multiply)

('pink', 'blue', 'white', 'perple', 'pink', 'blue', 'white', 'perple')

In [ ]:
print(color*3)

('pink', 'blue', 'white', 'perple', 'pink', 'blue', 'white', 'perple', 'pink', 'blue', 'white', 'perple')

**phyton Sets**

In [ ]:
thisset = {"apple", "banana", "cheery"}
print(thisset)
#acess item
for x in thisset:
  print(x)
  print("banana" in thisset)

{'apple', 'banana', 'cheery'}
apple
True
banana
True
cheery
True

In [ ]:
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'banana', 'cheery'}

In [ ]:
tropical = {"pineaple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'pineaple', 'mango', 'cheery', 'apple', 'papaya', 'orange'}

In [ ]:
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'pineaple', 'mango', 'cheery', 'apple', 'papaya', 'orange', 'kiwi'}

In [ ]:
thisset.discard("banana")
print(thisset)

{'pineaple', 'mango', 'cheery', 'apple', 'papaya', 'orange', 'kiwi'}

In [ ]:
for x in thisset:
  print(x)

pineaple
mango
cheery
apple
papaya
orange
kiwi

**Python Dictionaries**

In [ ]:
thisdist = {
    "brand" : "ford",
    "model" : "audi",
    "year" : "1989",
    "year" : "2022"
}
print(thisdist)
print(thisdist["brand"])

{'brand': 'ford', 'model': 'audi', 'year': '2022'}
ford

In [ ]:
#Acess item
x = thisdist["model"]
print(x)

audi

In [ ]:
#get()model
v = thisdist.get("model")
print(v)

audi

In [ ]:
#get keys
c= thisdist.keys()
print(c)

dict_keys(['brand', 'model', 'year'])

In [ ]:
#change value
thisdist["year"] = 2018
print(thisdist)

{'brand': 'ford', 'model': 'audi', 'year': 2018}

In [ ]:
#update dictionry
thisdist.update({"year":2029})
print(thisdist)

{'brand': 'ford', 'model': 'audi', 'year': 2029}

In [ ]:
#add dic item
thisdist["color"] = "red"
print(thisdist)

{'brand': 'ford', 'model': 'audi', 'year': 2029, 'color': 'red'}

***Python - Remove Dictionary Items***

In [ ]:
#removing item
thisdist.pop("model")
print(thisdist)

{'brand': 'ford', 'year': 2029, 'color': 'red'}

In [ ]:
#del
del thisdist["year"]
print(thisdist)

{'brand': 'ford', 'color': 'red'}

In [ ]:
#clear
thisdist.clear()
print(thisdist)

{}

Task # 1:
Write a Python script to print a dictionary where the keys are numbers between 1 and 10 (both
included) and the values are square of keys. Sample Dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100 **bold text**

In [1]:
saqure_dict = {}

for i in range(1, 11):
    saqure_dict[i] = i**2

print(saqure_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Task no 02
---
Create a simple book inventory system using tuples. Each book in the inventory should be
represented as a tuple containing the following information:
 Title
 Author
 Publication Year
 ISBN (International Standard Book Number)
 Quantity in Stock
1. Define an empty list named book_inventory to store tuples representing books. 2. Implement a function add_book that takes input for a new book and adds it to the
book_inventory. The function should prompt the user for the book details (title, author, publication year, ISBN, quantity) and create a tuple to represent the book. Append this
tuple to the book_inventory. 3. Implement a function search_book that takes the ISBN as input and searches for the book
in the inventory. If the book is found, print its details; otherwise, print a message indicating
that the book is not in the inventory. 4. Implement a function display_inventory that prints the details of all books in the inventory. Each book's information should be printed on a new line. 5. Implement a function sell_book that takes the ISBN and quantity as input and updates the
stock quantity of the corresponding book in the inventory. If the quantity is greater than the
available stock, print a message indicating insufficient stock. 6. Test your inventory system by adding a few books, searching for them, displaying the
inventory, and selling books.

In [2]:

book_inventory = []

title = input("Enter book title: ")
author = input("Enter author: ")
publication_year = input("Enter publication year: ")
isbn = input("Enter ISBN: ")
quantity = input("Enter quantity in stock: ")

book = (title, author, publication_year, isbn, quantity)

book_inventory.append(book)
print(f"Book '{title}' added to inventory.")
title = input("Enter another book title: ")
author = input("Enter author: ")
publication_year = input("Enter publication year: ")
isbn = input("Enter ISBN: ")
quantity = input("Enter quantity in stock: ")

book = (title, author, publication_year, isbn, quantity)

book_inventory.append(book)
print(f"Book '{title}' added to inventory.")

isbn_to_search = input("Enter ISBN to search for a book: ")

found = False
for book in book_inventory:
    if book[3] == isbn_to_search:
        found = True
        print("Book found:")
        print(f"Title: {book[0]}, Author: {book[1]}, Year: {book[2]}, ISBN: {book[3]}, Quantity: {book[4]}")
        break

if not found:
    print("Book not found in the inventory.")

print("\nDisplaying all books in the inventory:")
for book in book_inventory:
    print(f"Title: {book[0]}, Author: {book[1]}, Year: {book[2]}, ISBN: {book[3]}, Quantity: {book[4]}")

isbn_to_sell = input("Enter ISBN of book to sell: ")
quantity_to_sell = int(input("Enter quantity to sell: "))

sold = False
for i in range(len(book_inventory)):
    if book_inventory[i][3] == isbn_to_sell:
        current_quantity = int(book_inventory[i][4])
        if current_quantity >= quantity_to_sell:
            new_quantity = current_quantity - quantity_to_sell
            book_inventory[i] = (book_inventory[i][0], book_inventory[i][1], book_inventory[i][2], book_inventory[i][3], str(new_quantity))
            print(f"Sold {quantity_to_sell} copy(s) of '{book_inventory[i][0]}'.")
            sold = True
            break
        else:
            print(f"Not enough stock for '{book_inventory[i][0]}'. Only {current_quantity} copies available.")
            sold = True
            break

if not sold:
    print("Book not found in the inventory.")

print("\nUpdated Inventory:")
for book in book_inventory:
    print(f"Title: {book[0]}, Author: {book[1]}, Year: {book[2]}, ISBN: {book[3]}, Quantity: {book[4]}")

Enter book title: python
Enter author: talha
Enter publication year: 2024
Enter ISBN: 12
Enter quantity in stock: 13
Book 'python' added to inventory.
Enter another book title: ai
Enter author: ali
Enter publication year: 2012
Enter ISBN: 13
Enter quantity in stock: 14
Book 'ai' added to inventory.
Enter ISBN to search for a book: 12
Book found:
Title: python, Author: talha, Year: 2024, ISBN: 12, Quantity: 13

Displaying all books in the inventory:
Title: python, Author: talha, Year: 2024, ISBN: 12, Quantity: 13
Title: ai, Author: ali, Year: 2012, ISBN: 13, Quantity: 14
Enter ISBN of book to sell: 13
Enter quantity to sell: 12
Sold 12 copy(s) of 'ai'.

Updated Inventory:
Title: python, Author: talha, Year: 2024, ISBN: 12, Quantity: 13
Title: ai, Author: ali, Year: 2012, ISBN: 13, Quantity: 2

Task # 3:]

In [3]:
taldict={
    '5': (3,7),
    '3': (2,4),
    '7': (8),
    '2': (),
    '4': (8),
    '8': ()
}
print(taldict)
print(taldict['5'])

{'5': (3, 7), '3': (2, 4), '7': 8, '2': (), '4': 8, '8': ()}
(3, 7)

Task # 4

> Add blockquote

In [4]:
talhadict={
    'A':[('B',6),('E',1),('C',9)],
    'B':[('A',6),('E',4),('D',3)],
    'C':[('A',9),('F',2),('G',3)],
    'D':[('B',3),('E',5),('F',7)],
    'E':[('A',1),('B',4),('D',5),('f',6)],
    'F':[('C',2),('E',6),('D',7)],
    'G':[]
}
print(talhadict)

{'A': [('B', 6), ('E', 1), ('C', 9)], 'B': [('A', 6), ('E', 4), ('D', 3)], 'C': [('A', 9), ('F', 2), ('G', 3)], 'D': [('B', 3), ('E', 5), ('F', 7)], 'E': [('A', 1), ('B', 4), ('D', 5), ('f', 6)], 'F': [('C', 2), ('E', 6), ('D', 7)], 'G': []}