M.TALHA RAMZAN
---
2330-0141
---
BS AI
---
LAB TASK 03
---

1. Write a program and check if a number is a multiple of 13 or not.

In [4]:

number = int(input("Enter a number: "))

if number % 13 == 0:
    print(f"{number} is a multiple of 13.")
else:
    print(f"{number} is not a multiple of 13.")

Enter a number: 27
27 is not a multiple of 13.

2. Write a program to find the smallest of 5 numbers enter by the user.

In [5]:

numbers = []
for i in range(5):
    num = float(input(f"Enter number {i+1}: "))
    numbers.append(num)

smallest = min(numbers)

print("The smallest number is:", smallest)

Enter number 1: 45
Enter number 2: 2
Enter number 3: 4
Enter number 4: 7655
Enter number 5: 35565
The smallest number is: 2.0

3. Write a program to print the even numbers from 500 to 120.

In [6]:
6for num in range(500, 119, -1):
    if num % 2 == 0:
        print(num)

500
498
496
494
492
490
488
486
484
482
480
478
476
474
472
470
468
466
464
462
460
458
456
454
452
450
448
446
444
442
440
438
436
434
432
430
428
426
424
422
420
418
416
414
412
410
408
406
404
402
400
398
396
394
392
390
388
386
384
382
380
378
376
374
372
370
368
366
364
362
360
358
356
354
352
350
348
346
344
342
340
338
336
334
332
330
328
326
324
322
320
318
316
314
312
310
308
306
304
302
300
298
296
294
292
290
288
286
284
282
280
278
276
274
272
270
268
266
264
262
260
258
256
254
252
250
248
246
244
242
240
238
236
234
232
230
228
226
224
222
220
218
216
214
212
210
208
206
204
202
200
198
196
194
192
190
188
186
184
182
180
178
176
174
172
170
168
166
164
162
160
158
156
154
152
150
148
146
144
142
140
138
136
134
132
130
128
126
124
122
120

4. Search for a number x (entered by user) in following tuple using loop.

In [8]:
numbers = (2, 4, 1, 5, 6, 11, 9, 10, 3, 6, 100, 44, 40, 20)

x = int(input("Enter a number to search: "))

found = False

for num in numbers:
    if num == x:
        found = True
        break

if found:
    print(f"{x} is present in the tuple.")
else:
    print(f"{x} is not present in the tuple.")

Enter a number to search: 56
56 is not present in the tuple.

5. Print the elements of the following list using a loop.
[2, 4, 1, 5, 6, 11, 9, 10, 3, 6, 100, 44, 40, 20]

In [9]:

numbers = [2, 4, 1, 5, 6, 11, 9, 10, 3, 6, 100, 44, 40, 20]

for num in numbers:
    print(num)

2
4
1
5
6
11
9
10
3
6
100
44
40
20

6. Write a program that takes a number from the user and prints whether the number is
divisible by both 3 and 5 or not.45

In [10]:

number = int(input("Enter a number: "))

if number % 3 == 0 and number % 5 == 0:
    print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

Enter a number: 45
45 is divisible by both 3 and 5.

7. Write a program using a for loop that sums only odd numbers between 1 and 20 —
but you cannot use an if statement inside the loop.

In [11]:
sum_odd = 0

for num in range(1, 21, 2):
    sum_odd += num

print("The sum of odd numbers between 1 and 20 is:", sum_odd)

The sum of odd numbers between 1 and 20 is: 100

8. Continuously take integer input from the user and find their square. Stop when the user
enters a negative number.

In [12]:
while True:
    number = int(input("Enter an integer (negative number to stop): "))

    if number < 0:
        print("Negative number entered. Program stopped.")
        break

    print(f"The square of {number} is {number**2}")

Enter an integer (negative number to stop): 34
The square of 34 is 1156
Enter an integer (negative number to stop): -6
Negative number entered. Program stopped.

9. Count how many digits are in a given number using a while loop (no string conversion).

In [13]:
number = int(input("Enter a number: "))

count = 0
temp = abs(number)

if temp == 0:
    count = 1
else:
    while temp > 0:
        temp = temp // 10

print(f"The number of digits in {number} is {count}.")

Enter a number: 45
The number of digits in 45 is 0.

10. Reverse an integer using a while loop. (Example: Input = 123 → Output = 321)

In [14]:

number = int(input("Enter an integer: "))
temp = abs(number)
reversed_number = 0

while temp > 0:
    digit = temp % 10
    reversed_number = reversed_number * 10 + digit
    temp = temp // 10
if number < 0:
    reversed_number = -reversed_number

print(f"The reversed number is: {reversed_number}")

Enter an integer: 5
The reversed number is: 5

Write code to print following pattern:
*
**
***

In [15]:
for i in range(1, 4):
    print('*' * i)

*
**
***

12. Write a code to print following number using break and continue statement:
1, 2, 3, 5, 6, 7, 9

In [16]:

for num in range(1, 10):
    if num == 4 or num == 8:
        continue
    print(num)

1
2
3
5
6
7
9