M.Talha Ramzan
----
2330-0141
---
BS AI
---
lab 02

Task 1:
Library Catalog System
Build a library catalog system that keeps track of books, authors, and their availability using
dictionaries, lists, and tuples.
Create a dictionary where the keys are authors&#39; names, and the values are lists of tuples. Each
tuple represents a book with details (e.g., title, publication year, availability status).
Implement functions to:
 Add new books to the catalog.
 Mark a book as borrowed or returned.
 Display a list of books by a specific author.
 Find and display the oldest and newest books in the catalog.
 List books that are currently available for borrowing.

In [3]:
catalog = {}
def add_book(author, title, publication_year, availability):
    if author not in catalog:
        catalog[author] = []
    catalog[author].append((title, publication_year, availability))

def update_availability(author, title, status):
    for book in catalog.get(author, []):
        if book[0] == title:

            book_index = catalog[author].index(book)
            catalog[author][book_index] = (book[0], book[1], status)
            print(f"'{title}' has been marked as {status}.")
            return
    print(f"'{title}' not found under {author}.")

def display_books_by_author(author):
    if author in catalog:
        print(f"Books by {author}:")
        for book in catalog[author]:
            print(f"Title: {book[0]}, Year: {book[1]}, Availability: {book[2]}")
    else:
        print(f"No books found for author {author}.")

def find_oldest_and_newest_books():
    oldest = None
    newest = None
    for author in catalog:
        for book in catalog[author]:
            if oldest is None or book[1] < oldest[1]:
                oldest = book
            if newest is None or book[1] > newest[1]:
                newest = book
    if oldest and newest:
        print(f"Oldest book: '{oldest[0]}' by {author}, published in {oldest[1]}")
        print(f"Newest book: '{newest[0]}' by {author}, published in {newest[1]}")
    else:
        print("No books in the catalog.")

def available_books():
    print("Books currently available for borrowing:")
    for author in catalog:
        for book in catalog[author]:
            if book[2] == "available":
                print(f"Title: {book[0]}, Author: {author}, Year: {book[1]}")



for name in boys_names:
    add_book(name, f"Book of {name}", 2020, "available")


display_books_by_author("Ahmed")
update_availability("Ahmed", "Book of Ahmed", "borrowed")

available_books()
find_oldest_and_newest_books()

Books by Ahmed:
Title: Book of Ahmed, Year: 2020, Availability: available
'Book of Ahmed' has been marked as borrowed.
Books currently available for borrowing:
Title: Book of Ali, Author: Ali, Year: 2020
Title: Book of Hassan, Author: Hassan, Year: 2020
Title: Book of Omar, Author: Omar, Year: 2020
Title: Book of Abdullah, Author: Abdullah, Year: 2020
Title: Book of Ibrahim, Author: Ibrahim, Year: 2020
Title: Book of Sami, Author: Sami, Year: 2020
Title: Book of Ayaan, Author: Ayaan, Year: 2020
Title: Book of Usman, Author: Usman, Year: 2020
Title: Book of Bilal, Author: Bilal, Year: 2020
Title: Book of Faizan, Author: Faizan, Year: 2020
Title: Book of Zain, Author: Zain, Year: 2020
Title: Book of Haris, Author: Haris, Year: 2020
Title: Book of Tariq, Author: Tariq, Year: 2020
Title: Book of Imran, Author: Imran, Year: 2020
Oldest book: 'Book of Ahmed' by Imran, published in 2020
Newest book: 'Book of Ahmed' by Imran, published in 2020

Task 2:
Applying Celsius to Fahrenheit
 Create a list of temperatures in Celsius and use a lambda function to convert them to
Fahrenheit.

In [ ]:

celsius_temperatures = [12, 13, 14, 54, 34, 98]
fahrenheit_temperatures = list(map(lambda c: (9/5) * c + 32, celsius_temperatures))
print(fahrenheit_temperatures)

[53.6, 55.400000000000006, 57.2, 129.2, 93.2, 208.4]

Task 3:
Given a string and reverse the order of words in the string, but keeps each word itself in the original
order. Ignore leading/trailing spaces and reduce multiple spaces between words to a single space.
Example:
Text = “ Hello python world “
Expected output: “world python Hello”

In [ ]:
stringa = "Hello python word"
words = stringa.split()
reversed_string = ' '.join(reversed(words))
print(reversed_string)

word python Hello

Task 4:
Given a string containing multiple sentences separated by periods, split the string into individual
sentences, reverse the order of the sentences, and then join them back into a single string.
Example:

Text = “This is the first sentence. Here is another. And finally, the last one. “
Expected output: “. And finally, the last one. Here is another. This is the first sentence”

In [ ]:
sentence = "This is the first sentence. here is another.And finally, the last one"
sentences = sentence.split('.')
reversed_sentences = sentences[::-1]
reversed_sentences = ''.join(reversed_sentences)
print(reversed_sentences)

And finally, the last one here is anotherThis is the first sentence

**Write a program that finds the absolute difference between the sums of its diagonals.**

In [4]:
def diagonal_difference(matrix):
    n = len(matrix)

    primary_diagonal_sum = 0
    secondary_diagonal_sum = 0

    for i in range(n):
        primary_diagonal_sum += matrix[i][i]
        secondary_diagonal_sum += matrix[i][n-1-i]

    difference = abs(primary_diagonal_sum - secondary_diagonal_sum)

    return difference

matrix = [
    [11, 2, 4],
    [4, 5, 6],
    [10, 8, -12]
]

result = diagonal_difference(matrix)
print("The absolute difference between the sums of the diagonals is:", result)

The absolute difference between the sums of the diagonals is: 15

Task 6:
Take input from the user about the student&#39;s data (firstName, lastName, age, degreeProgram)
for 10 students &amp; save it in a list. Each student data is a dictionary. Then display the students data
(dictionaries) in reverse order using negative indexing of the list. **bold text**

In [5]:

students = []

for i in range(10):
    print(f"Enter details for Student {i+1}:")

    firstName = input("Enter first name: ")
    lastName = input("Enter last name: ")
    age = int(input("Enter age: "))
    degreeProgram = input("Enter degree program: ")
    student_data = {
        "firstName": firstName,
        "lastName": lastName,
        "age": age,
        "degreeProgram": degreeProgram
    }
    students.append(student_data)
print("\nDisplaying student data in reverse order:")
for i in range(1, 11):
    print(f"Student {i}: {students[-i]}")

Enter details for Student 1:
Enter first name: talha
Enter last name: ramzan
Enter age: 21
Enter degree program: bs ai
Enter details for Student 2:
Enter first name: ali
Enter last name: khan
Enter age: 23
Enter degree program: bs cs
Enter details for Student 3:
Enter first name: kashif
Enter last name: ali
Enter age: 32
Enter degree program: bs cys
Enter details for Student 4:
Enter first name: ayoub
Enter last name: khan
Enter age: 21
Enter degree program: bs cs
Enter details for Student 5:
Enter first name: heer
Enter last name: baloch
Enter age: 54
Enter degree program: bsse
Enter details for Student 6:
Enter first name: aliena
Enter last name: khan
Enter age: 32
Enter degree program: bscs
Enter details for Student 7:
Enter first name: amara
Enter last name: ayesha
Enter age: 32
Enter degree program: dpt
Enter details for Student 8:
Enter first name: ayesha
Enter last name: khan
Enter age: 32
Enter degree program: mbbs
Enter details for Student 9:
Enter first name: dua
Enter last name: bibi
Enter age: 19
Enter degree program: bds
Enter details for Student 10:
Enter first name: nida
Enter last name: khan
Enter age: 12
Enter degree program: bs bio

Displaying student data in reverse order:
Student 1: {'firstName': 'nida', 'lastName': 'khan', 'age': 12, 'degreeProgram': 'bs bio'}
Student 2: {'firstName': 'dua', 'lastName': 'bibi', 'age': 19, 'degreeProgram': 'bds'}
Student 3: {'firstName': 'ayesha', 'lastName': 'khan', 'age': 32, 'degreeProgram': 'mbbs'}
Student 4: {'firstName': 'amara', 'lastName': 'ayesha', 'age': 32, 'degreeProgram': 'dpt'}
Student 5: {'firstName': 'aliena', 'lastName': 'khan', 'age': 32, 'degreeProgram': 'bscs'}
Student 6: {'firstName': 'heer', 'lastName': 'baloch', 'age': 54, 'degreeProgram': 'bsse'}
Student 7: {'firstName': 'ayoub', 'lastName': 'khan', 'age': 21, 'degreeProgram': 'bs cs'}
Student 8: {'firstName': 'kashif', 'lastName': 'ali', 'age': 32, 'degreeProgram': 'bs cys'}
Student 9: {'firstName': 'ali', 'lastName': 'khan', 'age': 23, 'degreeProgram': 'bs cs'}
Student 10: {'firstName': 'talha', 'lastName': 'ramzan', 'age': 21, 'degreeProgram': 'bs ai'}

Task 7:
Write a program that check a list contains a palindrome of elements (use copy() method)
Example
[1,2,3,2,1]
[1, “abc”, “abc”, 1] **bold text**

In [6]:

def is_palindrome(lst):

    copied_lst = lst.copy()
    copied_lst.reverse()

    if lst == copied_lst:
        return True
    else:
        return False

list1 = [1, 2, 3, 2, 1]
list2 = [1, "abc", "abc", 1]

print(f"Is list1 a palindrome? {is_palindrome(list1)}")
print(f"Is list2 a palindrome? {is_palindrome(list2)}")

Is list1 a palindrome? True
Is list2 a palindrome? True

Task 8:
Write a program that takes the marks of 3 subjects from the user and store them in a dictionary. Start
with an empty dictionary and add one by one. Use subject name as key and marks as value.

In [7]:

marks_dict = {}

for i in range(3):
    subject = input(f"Enter the name of subject {i+1}: ")
    marks = float(input(f"Enter the marks for {subject}: "))

    marks_dict[subject] = marks
print("\nSubject Marks:")
for subject, marks in marks_dict.items():
    print(f"{subject}: {marks}")

Enter the name of subject 1: english
Enter the marks for english: 32
Enter the name of subject 2: urdu
Enter the marks for urdu: 87
Enter the name of subject 3: ai
Enter the marks for ai: 87

Subject Marks:
english: 32.0
urdu: 87.0
ai: 87.0

Task 9:
You are given the following dataset of employees:
employees = {
101: (&quot;Alice&quot;, &quot;AI Engineer&quot;, [&quot;Python&quot;, &quot;ML&quot;, &quot;DL&quot;]),
102: (&quot;Bob&quot;, &quot;Data Scientist&quot;, [&quot;R&quot;, &quot;Python&quot;, &quot;SQL&quot;]),
103: (&quot;Charlie&quot;, &quot;Web Developer&quot;, [&quot;HTML&quot;, &quot;CSS&quot;, &quot;JS&quot;])
}
Perform the following tasks:
 Add a new employee 104 = (&quot;David&quot;, &quot;Cloud Engineer&quot;, [&quot;AWS&quot;, &quot;Docker&quot;, &quot;Python&quot;]).
 Update Charlie’s role to “Full-Stack Developer” without changing his skills.

In [9]:

employees = {
    101: ("Alice", "AI Engineer", ["Python", "ML", "DL"]),
    102: ("Bob", "Data Scientist", ["R", "Python", "SQL"]),
    103: ("Charlie", "Web Developer", ["HTML", "CSS", "JS"])
}
employees[104] = ("David", "Cloud Engineer", ["AWS", "Docker", "Python"])

employees[103] = ("Charlie", "Full-Stack Developer", employees[103][2])
print("Updated Employees Dataset:")
for emp_id, (name, role, skills) in employees.items():
    print(f"ID: {emp_id}, Name: {name}, Role: {role}, Skills: {', '.join(skills)}")

Updated Employees Dataset:
ID: 101, Name: Alice, Role: AI Engineer, Skills: Python, ML, DL
ID: 102, Name: Bob, Role: Data Scientist, Skills: R, Python, SQL
ID: 103, Name: Charlie, Role: Full-Stack Developer, Skills: HTML, CSS, JS
ID: 104, Name: David, Role: Cloud Engineer, Skills: AWS, Docker, Python

Task 10:
You are given the following tuple:
data = (10, 20, 30, 40, 50, 60, 70, 80)

Perform the following operations without using loops, functions, or methods:
 Extract the first three elements and the last three elements, then combine them into a new
tuple.
Expected: (10, 20, 30, 60, 70, 80)
 Reverse the tuple using slicing.
Expected: (80, 70, 60, 50, 40, 30, 20, 10)
 Create a tuple with only the even-indexed elements.
Expected: (10, 30, 50, 70)
 Create a tuple with only the odd-indexed elements.
Expected: (20, 40, 60, 80)
 Swap the first half with the second half of the tuple.
Expected: (50, 60, 70, 80, 10, 20, 30, 40)

In [10]:
data = (10, 20, 30, 40, 50, 60, 70, 80)
result_1 = data[:3] + data[-3:]
print("Extracted and Combined Tuple:", result_1)

result_2 = data[::-1]
print("Reversed Tuple:", result_2)


result_3 = data[::2]
print("Even-indexed Tuple:", result_3)

result_4 = data[1::2]
print("Odd-indexed Tuple:", result_4)

half_length = len(data) // 2
result_5 = data[half_length:] + data[:half_length]
print("Swapped Tuple:", result_5)

Extracted and Combined Tuple: (10, 20, 30, 60, 70, 80)
Reversed Tuple: (80, 70, 60, 50, 40, 30, 20, 10)
Even-indexed Tuple: (10, 30, 50, 70)
Odd-indexed Tuple: (20, 40, 60, 80)
Swapped Tuple: (50, 60, 70, 80, 10, 20, 30, 40)