M.Talha Ramzan
---
2330-0141
---
BS AI
---
Assigment no 04
---

Task 2: Descriptive Statistics

1. Create a pandas DataFrame using the hard-coded dataset.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    "EmployeeID": [1,2,3,4,5,6,7,8,9,10],
    "Age": [25,30,45,24,50,30,27,34,60,55],
    "Gender": ["M","F","F","M","M","M","F","F","M","M"],
    "Department": ["IT","HR","Finance","IT","IT","HR","Management","Finance","HR","Management"],
    "Education": ["Master","Master","Bachelor","Bachelor","Bachelor","Master","Phd","Master","Bachelor","Phd"],
    "Experience": [2,3,4,2,10,6,2,8,5,3],
    "Salary": [45000,60000,70000,60000,110000,120000,210000,150000,105000,220000]
}

df = pd.DataFrame(data)

1. Use df.describe() to compute summary statistics.

In [8]:
df.describe()

       EmployeeID        Age  Experience         Salary
count    10.00000  10.000000   10.000000      10.000000
mean      5.50000  38.000000    4.500000  115000.000000
std       3.02765  13.316656    2.758824   61824.123303
min       1.00000  24.000000    2.000000   45000.000000
25%       3.25000  27.750000    2.250000   62500.000000
50%       5.50000  32.000000    3.500000  107500.000000
75%       7.75000  48.750000    5.750000  142500.000000
max      10.00000  60.000000   10.000000  220000.000000

2. Interpret mean, median, and standard deviation of Salary.

In [17]:
df["Salary"].mean()

np.float64(115000.0)

In [18]:
df["Salary"].median()

107500.0

In [19]:

df["Salary"].std()

61824.123303304696

3. Compare experience levels across departments.

In [14]:
df.groupby("Department")["Experience"].mean()

Department
Finance       6.000000
HR            4.666667
IT            4.666667
Management    2.500000
Name: Experience, dtype: float64

4. Identify extreme values.

In [15]:

df[df["Salary"] == df["Salary"].min()]

   EmployeeID  Age Gender Department Education  Experience  Salary
0           1   25      M         IT    Master           2   45000

In [16]:
df[df["Salary"] == df["Salary"].max()]

   EmployeeID  Age Gender  Department Education  Experience  Salary
9          10   55      M  Management       Phd           3  220000