M.Talha Ramzan
---
2330-0141
---
BS AI
---
Assigment no 04
---

Task 1: Data Loading & Understanding

1. Create a pandas DataFrame using the hard-coded dataset.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    "EmployeeID": [1,2,3,4,5,6,7,8,9,10],
    "Age": [25,30,45,24,50,30,27,34,60,55],
    "Gender": ["M","F","F","M","M","M","F","F","M","M"],
    "Department": ["IT","HR","Finance","IT","IT","HR","Management","Finance","HR","Management"],
    "Education": ["Master","Master","Bachelor","Bachelor","Bachelor","Master","Phd","Master","Bachelor","Phd"],
    "Experience": [2,3,4,2,10,6,2,8,5,3],
    "Salary": [45000,60000,70000,60000,110000,120000,210000,150000,105000,220000]
}

df = pd.DataFrame(data)

2. Display the first and last five records.

In [4]:
df.head()

   EmployeeID  Age Gender Department Education  Experience  Salary
0           1   25      M         IT    Master           2   45000
1           2   30      F         HR    Master           3   60000
2           3   45      F    Finance  Bachelor           4   70000
3           4   24      M         IT  Bachelor           2   60000
4           5   50      M         IT  Bachelor          10  110000

In [3]:
df.tail()

   EmployeeID  Age Gender  Department Education  Experience  Salary
5           6   30      M          HR    Master           6  120000
6           7   27      F  Management       Phd           2  210000
7           8   34      F     Finance    Master           8  150000
8           9   60      M          HR  Bachelor           5  105000
9          10   55      M  Management       Phd           3  220000

\3. Print the shape, column names, and data types.

In [6]:
print(df.shape)
print("=" * 80)
print(df.columns)
print("=" * 80)
print(df.dtypes)

(10, 7)
================================================================================
Index(['EmployeeID', 'Age', 'Gender', 'Department', 'Education', 'Experience',
       'Salary'],
      dtype='object')
================================================================================
EmployeeID     int64
Age            int64
Gender        object
Department    object
Education     object
Experience     int64
Salary         int64
dtype: object

4. Identify numerical and categorical features.

In [7]:
numerical = df.select_dtypes(include='number').columns
categorical = df.select_dtypes(include='object').columns

print("Numerical:", numerical)
print("Categorical:", categorical)

Numerical: Index(['EmployeeID', 'Age', 'Experience', 'Salary'], dtype='object')
Categorical: Index(['Gender', 'Department', 'Education'], dtype='object')

5. Explain the structure of the dataset.

Each row = 1 employee

Columns represent demographic + job info

Dataset is small, clean, no missing values